@media (max-width: 650px) {
  .products{
    display: block;
    height: auto;
    padding: 5%;
  }
  .product{
    margin-top: auto;
  }
  .main_section{
    padding: 5%;
  }
  .beneficios, .mentions{
    display: inherit;
  }
}
